/* NAVBAR */
.fa-chevron-down:before {
    content: "\f078";
    vertical-align: middle;
    font-weight: 900;
    font-size: 10px;
}
.btn-secondary {
    color: #fff;
    background-color: #3f4346;
    border-color: #3f4346;
}
nav{
    height: 60px;
}
.bg-navbar{
    background-color: white;
}
.btn{
    border-radius: 20px;
}
.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link {
    color: rgb(0, 0, 0);
}
.navbar-toggler {
    background-color: white;
    border: 2px solid lightgray;
    border-color: lightgray;
}
.navbar-dark .navbar-toggler {
    color: lightgray;
    border-color: lightgray;
}
.navbar-icon i{
    color: gray;
}
/* HEADER */
.contenitore{
    margin-top: 60px;
    background-image: url(./img/jumbo-bg.png);
    height: 600px;
}
.contenitore, .contenitore-2{
    border: 1px solid black;
    background-size: cover;
    background-position: center;
    color: white;
}
.contenitore-2{
    background-image: url(./img/it-takes-two-hero-banner-desktop.jpg);
    height: 600px;
    margin-top: 20px;
}
.box-jumbo{
    margin-top: 250px;
}
.title-jump{
    margin: 20px 0;
}
.description-jumbo{
    margin-bottom: 20px;
}
.logo-jumbo img{
    width: 100%;
}
/* CONTAINER RIGA 81 */
.row-mini-games{
    margin-top: 20px;
}
.box-mini-games{
    border-radius: 20px;
    padding: 2px;
    border: 2px solid rgb(255, 255, 255);
}
.box-mini-games:hover{
    border: 2px solid rgb(71, 85, 209);
}
.box-mini-games img{
    border-radius: 20px;
    width: 100%;
    height: 100%;
}
.section{
    margin: 50px 0;
    text-align: center;
}
.span-section{
    color: rgb(45, 90, 175);
    font-weight: bold;
}
.description-section{
    color: gray;
}
.console-section img{
    width: 100%;
}
.item-picture a img{
    width: 100%;
}
.item-name{
    text-align: center;
    border-bottom: 2px solid white;
}
.item-picture{
    border-bottom: 2px solid white;
}
.item-picture:hover{
    border-bottom: 2px solid rgb(71, 85, 209);
}
/* CONTENITORE RIGA 156 */
.box-contenitore-due{
    margin-top: 50px;
}
.logo-contenitore-due img{
    width: 100%;
    margin-bottom: 15px;
}
.description-jumbo-due{
    margin: 20px 0 15px 0;
}
/* CONTAINER RIGA 188 */
.bg-gray{
    background-color: rgb(53, 52, 52);
    color: white;
    padding: 20px;
}
.subtitle-items{
    margin-bottom: 20px;
}
.game-name a{
    text-decoration: none;
    color: white;
}
.item-games a img{
    width: 100%;
    border-radius: 10px;
}
.game-name{
    margin: 10px 0 20px 0;
}
/* CONTAINER RIGA 288 */
.bg-gray-light{
    background-color: lightgray;
}
.section-2{
    margin: 50px 0;
}
.title-section{
    text-align: center;
}
/* CONTAINER RIGA 358 */
.ps-plus-section-uno{
    padding: 20px;
}
.ps-plus-section-due img{
    width: 100%;
}
.section-middle{
    margin: 30px 0;
}
.btn-light{
    color: blue;
}
.logo-section img{
    width: 100%;
}
/* CONTAINER RIGA 384 */
.item-sconti img {
    width: 100%;
}
.item-sconti{
    margin-bottom: 40px;
}
/* CONTAINER RIGA 414 */
.bg-blue{
    background-color: rgb(22, 22, 46);
    color: white;
}
.color-button{
    color: black;
}
/* CONTAINER RIGA 442 */
.box-social a img{
    width: 100%;
}
.box-social{
    margin: 20px 0;
}
/* FOOTER RIGA 461 */
footer {
    background-color: rgb(39, 39, 216);
    color: white;
    padding: 40px 0;
}
.box-footer img{
    width: 100%;
}
.lista-footer  div ul li{
    list-style: none;
    margin: 5px 0;
}
.lista-footer  div ul li a{
    color: white;
   text-decoration: none;
}
.foot-text a{
    color: white;
}
.language{
    margin: 20px 0;
}