/* NAVBAR */
.btn-secondary {
    color: #fff;
    background-color: #3f4346;
    border-color: #3f4346;
}
nav{
    height: 60px;
}
.bg-navbar{
    background-color: white;
}
.btn{
    border-radius: 20px;
}
.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link {
    color: rgb(0, 0, 0);
}
.navbar-toggler {
    background-color: white;
    border: 2px solid lightgray;
    border-color: lightgray;
}
.navbar-dark .navbar-toggler {
    color: lightgray;
    border-color: lightgray;
}
.navbar-icon i{
    color: gray;
}
/* HEADER */
.contenitore{
    margin-top: 60px;
    height: 600px;
    border: 1px solid black;
    background-image: url(./img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    color: white;
}
.container{
    border: 1px solid black;
}
.box-jumbo{
    margin-top: 250px;
}
.title-jump{
    margin: 20px 0;
}
.description-jumbo{
    margin-bottom: 20px;
}
.logo-jumbo img{
    width: 100%;
}
/* CONTAINER LINEA 81 */
.row-mini-games{
    margin-top: 20px;
}
.box-mini-games{
    border: 2px solid white;
    border-radius: 20px;
    padding: 3px;
}
.box-mini-games:hover{
    border: 2px solid rgb(71, 85, 209);
}
.box-mini-games img{
    border-radius: 20px;
    width: 100%;
    height: 100%;
}
.section{
    text-align: center;
    margin: 20px;
}
.span-section{
    color: rgb(45, 90, 175);
    font-weight: bold;
}
.description-section{
    color: gray;
}
.console-section img{
    width: 100%;
}
.item-picture img{
    width: 100%;
}